@media(max-width:768px) {
    #navLogo{
        margin: 1px;
        padding: 1px;
        width: 1px;
        background-color: aqua;
        display: block;
    }
    #navSearch{
        width: 1%;
    }
    #starWars{
        flex-wrap: wrap;
    }
    #starWarss{
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }
}